<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %> 
<body>
    <%- include('./partials/header') %> 
    <main>
 <h1>No se encontró la página</h1>
<a href="/">Volver a Inicio</a>       
    </main>

</body>
</html>